.item {
  width: 200px;
  position: relative;
  border-style: solid;
  border-color: rgba(0,0,0,.3);
  flex: 1 0 auto;
  border-width: 0 2px 2px 0;
}

.item .description-wrapper {
  position: absolute;
  top: 0;
  right: 0;
  width: 60px;
}

.item .description-wrapper div,
.item .description-wrapper a {
  font-size: 11px;
}


.item .description-wrapper a {
  text-decoration: underline;
}

.item img {
  width: 200px;
  height: 100%;
}
