.grid {
  list-style: none;
  display: flex;
  flex-flow: row wrap;
  width: 606px;
}

.grid-wrapper {
  margin: 0 auto;
  width: 644px;
  height: 713px;
  overflow: hidden;
}

.landing-page-heading {
  display: block;
  text-align: center;
}
